div(class="chat_messages" id="chat_chat_section")
    div(class="chat_header chat_clearfix")
        img(class="chat_contacts_img" id="chat_show_contacts_img" src=contactsImage)
        img(class="chat_close_content_img" id="chat_return_img" src=closeContentImage)

        div(class="chat-about")
            img(class="chat_img" src=avatarSrc alt="avatar" id="IdUserWithChat" + nameWith )
            div(class="chat_with") #{nameWith}
            div(class="chat_num_messages")
        i(class="fa chat_fa_star")


    div(class="chat_history")
        ul(class="chat_ul" id="chat_history")

    div(class="chat_message_write")
        div(class="chat_message_input_area")
            textarea(class="chat_textarea" name="message-to-send" id="message_to_send" placeholder ="Введите Ваше сообщение" rows="3" cols="1")


        div(class="chat_message_btn_area")
            img(class="chat_emoji_img" id="chat_emoji_img" src=emojiImage)
            img(class="chat_sticker_img" id="chat_send_sticker" src=stickerImage)
            img(class="chat_send_message_img" id="chat_send_message_btn" src=sendMessageImg)








    div(id="sticker_select_menu" class="sticker_select")
        button(id="sticker_select_back_btn" class="sticker_select_back_btn") Назад
        div(id="sticker_select" )





    div(id="emoji_select_menu" class="emoji_select")
        button(id="emoji_select_back_btn" class="sticker_select_back_btn") Назад
        div(id="emoji_select" )
            div(class="emoji_selector_menu" id="emoji_selector_menu")
                div(class="one_emoji" id="emojiId_1") &#128293;
                div(class="one_emoji" id="emojiId_2") &#129321;
                div(class="one_emoji" id="emojiId_3") &#129312;
                div(class="one_emoji" id="emojiId_4") &#128077;
                div(class="one_emoji" id="emojiId_5") &#128580;
                div(class="one_emoji" id="emojiId_6") &#128577;
                div(class="one_emoji" id="emojiId_7") &#127829;
                div(class="one_emoji" id="emojiId_8") &#127988;&#8205;&#9760;&#65039;
                div(class="one_emoji" id="emojiId_9") &#127479;&#127482;
                div(class="one_emoji" id="emojiId_10") &#128164;
                div(class="one_emoji" id="emojiId_11") &#129418;
                div(class="one_emoji" id="emojiId_12") &#129409;

