li(class="chat_clearfix chat_li")
    div(class=messageClass)
        span(class="message_data_time") #{author}
        span(class="message-data-name") #{dateTime}
    div(class=textClass ) #{messageText}
    img(class=("sticker_in_message " +  stickerCSSClass) src=stickerSrc)