div.icons
    a(href="/chats" id= "chatsLink")
        img(src=chatsImage)
    a(href="/notifications" id= "notifLink")
        img(src=notifImage)
    a(href=userLink id= "profileLink")
        img(src=profileImage)
    a(id="addNewModal")
        img(src=plusImage)