div.modal
    div.background(id="backModal")
    div.window
        img(src=logoImage alt="Zinterest" width="140px")
        div.mini_title Выберите, где Вы хотите поделиться пином
        div.networks
            a(href=whatsappLink target = "_blank")
                div.network
                    img(src=whatsappImage)
                    p WhatsApp
            a(href=twitterLink target = "_blank")
                div.network
                    img(src=twitterImage)
                    p Twitter
            a(href=facebookLink target = "_blank")
                div.network
                    img(src=facebookImage)
                    p Facebook